:root{
    --title-color: #D2C1B6;
    --text-color: #F9F3EF;
    --background1-color: #4e585e;
    --background2-color: #454e53;
}
body{
    background-image: linear-gradient(var(--background1-color), var(--background2-color), var(--background1-color));
    font-family: sans-serif;
    margin: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#navbar{
    position: fixed;
    display: flex;
    top: 0;
    background-color: var(--background2-color);
    width: 100vw;
    height: 8vh;
    box-shadow: 0 4px 20px black;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
#title{
    margin: 0;
    position: absolute;
    font-family: "Audiowide", sans-serif;
    font-size: 3vw;
    letter-spacing: 2px;
    color: var(--title-color);
}
a{
    position: absolute;
    right: 3%;
    color: var(--text-color);
}
.material-icons-outlined{
    font-size: 2.5vw;
}
#questions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
}
details{
    background-color: var(--background2-color);
    color: var(--text-color);
    width: 100%;
    padding: 1vh;
    border-radius: 5px;
    box-shadow: 0 4px 20px black;
    font-size: 1.5vw;
    margin: 1.5vh;
}